@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.overall {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.overall .introduction {
    position: relative;
    background: #3285af;
    padding: 40px;
}

.name {
    position: relative;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.overview {
    padding-top: 40px;
}

.left_head {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact {
    padding-top: 40px;
}

.contact ul {
    position: relative;
}

.contact ul li {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    list-style-type: none;
    font-size: small;
}

.contact ul li a {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    list-style-type: none;
    color: black;
}

.skills {
    padding-top: 40px;
}

.skills ul {
    position: relative;
}

.skills ul li {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.overall .information {
    position: relative;
    background: ivory;
    padding: 40px;
}

.right_head {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.education {
    padding-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0);
}

.education ul {
    position: relative;
}

.education ul li {
    position: relative;
    margin: 15px 0;
    cursor: pointer;
}

.education h4 {
    color: #045D5D;
    font-weight: 500;
}

.projects {
    padding-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0);
}

.projects ul {
    position: relative;
}

.projects ul li {
    position: relative;
    margin: 15px 0;
    cursor: pointer;
}

.projects h4 {
    color: #045D5D;
    font-weight: 500;
}

.certification {
    padding-top: 40px;
}

.certification ul {
    position: relative;
}

.certification ul li {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
